#highScoreList{
	list-style: none;
	padding-left: 0;
	margin-bottom: 4rem;

}

.high-score{
	font-size: 30px;
	margin-bottom: 0.5rem;
}
.high-score:hover{
	transform: scale(1.025);
}

.container{
display: flex;

margin: 110px 500px;
border-style: solid;
border-width:thin ;

font-size: 1.rem;
border: 0.1 rem solid rgb(90, 86, 70);
background-color: white;

border-color: black;
padding-left: 15px;
border-radius: 50px;
overflow: auto;

max-width: 500px;
}

#finalScore{
	padding-left: 150px;
}

.btn{
	color: white;
	background-color: coral;
	display: flex;
	
	font-size: 20px;
	width: 90px;
	margin-bottom: 30px;
	justify-content: center;
	align-items: center;
	font-family: sans-serif;
	position: relative;
	
	text-decoration: none;
	padding: 10px;
	margin-left: 150px ;

}

#highScoresList{
	padding-left: 150px;
}

.btn:hover{
	transform: translatey(10px);
	transition: transform 150ms;
}

:root{
	background-color: coral ;
}